<!DOCTYPE html>
<html lang="en">
<%- include('./partials/headTag.ejs') %>
<body>
    <button onclick="window.location.href='/products'">Back to product </button>
    <div class="container">
        <h1><%= product.name %></h1>
        <img src="<%= product.img %>" >
        <p><%= product.description %></p>
        <h5>Price: $<%= product.price %></h5>
        <% if(product.qty < 1) {%>
            <h4>OUT OF STOCK</h4>
        <% } %>
        <% if(product.qty > 0) {%>
        <h3><%= product.qty %> remaining</h3>
        <button class="buy" onclick="myfuntion()">BUY</button><br />
        <% } %>
        <a href="/products/<%= product._id %>/edit">Edit this Product</a><br />
    </div>
        <form action="/products/<%= product._id %>?_method=DELETE" method="POST">
            <input class="delete" type="submit" value="DELETE" />
        </form><br />
</body>
</html>